body{
    width:100%;
    height:100%;
    margin:0;
}
.navBar{
    width:100%;
    height:10vh;
    background-color:rgb(22, 29, 48);
    color:white;
}

.img{
    background-image:url(img/img2.jpg);
    width:100%;
    height:100vh;
    min-height: 500px;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  
}
.img:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    height:100%;
  }
  .clearfix {
    clear: both;
 }

 
 .navbar {
    background-color: #808a91;
    z-index:10;
 }
 
 .container {
    width: 85%;
    margin: 0 auto;
 }

 
 .toggle {
    width: 42px;
    padding: 10px;
    float: right;
    background-color: #262d3e;
    border-radius: 6px;
    margin: 6px;
    cursor: pointer;
    display: none;
 }
 
 .toggle span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    margin-bottom: 3px;
 }

 
 .navbar .container .logo {
    float: left;
    padding-top: 8px;
   
 }
 
 .navbar .container .logo h1 {
    color: white;
    font-family: 'Great Vibes', cursive,sans-serif;
 }

 
 .navbar .container .links {
    width: 80%;
    float: left;
 }
 
 .navbar .container .links ul {
    float: right;
 }
 
 .navbar .container .links ul li {
    display: inline-block;
    padding: 15px;
     font-family: 'Great Vibes', cursive,sans-serif;
 }
 
 .navbar .container .links ul li a {
    color:white;
    font-size: 15px;
    font-family:'Poiret One', cursive;
 }
 /* End Links */
/* Start Intro */
.intro {
   text-align:center;
   padding:50px 0;
   color:#123456;
   font-family:cursive;
}
/* End Intro */
 /* Media Query */
 
 @media(max-width:768px) {
    .toggle {
       display: block;
    }
    .links {
       display: none;
    }
    .navbar .container .links ul li {
       display: block;
       text-align: center;
       padding: 10px;
    }
    .navbar .container .links ul {
       float: none;
    }
    .navbar .container .logo {
       padding-top: 10px;
    }
 }
 /*navbar ends*/

 .WelcomeTitle{
    font-size:7.5vw;
    margin:12% 0 0 3%;
    font-family: 'Poiret One', cursive;
    color:white;
    z-index:10;
    position: absolute;
 }

 .SubTitle{
     margin:15% 0 0 67%;
     font-size:4.8vw;
     color:white;
    font-family: 'Poiret One', cursive;
    z-index:10;
    position: absolute;
 }
 .services{
    width:216px;
    height:216px;
    background-color: black;
    color:white;
    text-align:center;
/*     padding-top:8%; */
    font-family: 'Poiret One', cursive;
 }

 .servicesImg{
    width:216px;
    height:216px;
 }
 .servicesTitle{
    color: #191818;
    text-align: center;
    font-family: 'Great Vibes', cursive,sans-serif;
    font-size: 5.5vw;
 }

 @media(max-width:768px) {
    .services{
         width:300px;
        height:300px;
        padding-top:20%;
        font-size:;
    }
    
    .servicesImg{
        display: none;
    }
    .container{
        width:100%;
    }
    .WelcomeTitle{
        font-size:12.5vw;
        margin:24% 0 0 3%;
    }
    .SubTitle{
        font-size:4.8vw;
        margin:33% 0 0 61%;
    }
    .specialNote{
        height:31%;
    }
    .specials{
        min-height: 650px;
    }
    .img{

    background-attachment:unset;
    }
    .specials{
      background-attachment:unset;
    }
    .contact{
      background-attachment:unset;
    }
    #bookOnline{
      background-attachment:unset;
    }
    
 }

 @media(min-width:576px){
     .conatiner{
        width:100%;
     }
    
 }
/* Desktop */
 @media (min-width: 1281px) {
  
    .specials{
        min-height:853px;
    }
    .bookContainer{
        height:470px;
    }
  }
  /* laptop */
  @media (max-width: 1081px) {
  
    .specials{
        min-height:653px;
    }
    .bookContainer{
        height:400px;
    }
    
  }


 .specials{
    background-image:url(img/img1.jpg);
    width:100%;
    color:white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
 }
 .specialNote{
    width:55%;
   
    background-color: black;
   position:absolute;
   margin:7% 22%;
}

.specialNote h2{
    font-family:'Great Vibes', cursive,sans-serif;
    text-align:center;
    margin:7%;
    font-size:5.5vw;
}

 .dotted-list {
    list-style-type: none;
    font-family:'Poiret One', cursive;
  }
  
  .dotted-list li {
    overflow: hidden;
    margin: 0 0 7% 0;
    position: relative;
  }
  
  .dotted-list li span:first-child {
    float:left;
    display: inline-block;
    padding: 0 20px 0 0;
    z-index: 10;
    position: relative;
    margin-left:10%;
  }
  
  .dotted-list li span + span {
    float: right;
    display: inline-block;
    padding: 0 3px 0 20px;
    z-index: 10;
    position: relative;
    margin-right:15%;
  }
  
  .dotted-list li:before {
    content: "";
    white-space: nowrap;
    position: absolute;
  }
.bookNow{
    text-align:center;
    font-family:'Poiret One', cursive;
    margin:6%;
    font-size:2.5vw;
}

.bookNow svg{
fill:white;
width:3%;
}

.bookNow svg {
    position: relative;
    margin: 0 auto;
    -webkit-animation: arrow 1s both infinite;
    animation: arrow 1s both infinite;
  }
  
  @-webkit-keyframes arrow {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
      }
      40% {
        -webkit-transform: translateX(-5px);
      }
      60% {
        -webkit-transform: translateX(-5px);
      }
  } 
   
  @keyframes arrow {
      0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
      }
      40% {
        transform: translateX(-5px);
      }
      60% {
        transform: translateX(-5px);
      }
  } 
  #carousel {
    position: relative;
    height: 400px;
    
    margin-top:4%;
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    width: 400px;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    width: 200px;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
    width: 200px;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.prev img {
    width: 300px;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
    width: 200px;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
    width: 300px;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
    width: 200px;
  }
  
  .buttons {
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    margin-top:3%;
  }
  .galleryTitle{
      text-align:center;
      font-family:'Great Vibes', cursive,sans-serif;
      font-size:5.5vw;
      margin-top:2%;
  }
  .contact{
      width:100%;
      height:100vh;
      color:white;
      background-image:url(img/img5.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      margin-top:8%;
  }
  .contactTitle{
      color:white;
      position:absolute;
      text-align: center;
      margin-left:39%;
      margin-top:3%;
      font-family:'Great Vibes', cursive,sans-serif;
      font-size:5.5vw;
  }
  .contactContainer{
    width: 55%;
    background-color: black;
    position: absolute;
    margin: 7% 22%;
    height:400px;
  }
  .footer{
    background-color: black;
    width:100%;
    text-align:center;
    padding:1%;
    color:white;
    font-family:'Poiret One', cursive;
  }
  #bookOnline{
      width:100%;
      height:100vh;
      background-image:url(img/img5.jpg);
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
  }
  .bookContainer{
    font-family:'Poiret One', cursive;
    width: 55%;
    background-color: black;
    position: absolute;
    margin: 3% 22%;
    
    color:white;
  }
  .appointmentTitle{
    font-family:'Great Vibes', cursive,sans-serif;
    font-size:4.5vw;
    text-align:center;
    margin-top:5%;
  }
  
